<div class="card p-4">
<h3>Signup</h3>
<form [formGroup]="form" (ngSubmit)="submit()">
<input class="form-control mb-2" formControlName="fullName" placeholder="Full Name">
<input class="form-control mb-2" formControlName="email" placeholder="Email">
<input class="form-control mb-2" type="password" formControlName="password" placeholder="Password">
<input class="form-control mb-2" type="password" formControlName="confirmPassword" placeholder="Confirm Password">
<div class="text-danger">{{msg}}</div>
<button class="btn btn-primary">Create Account</button>
</form>
</div>